<h1 i18n>Hello123!</h1>

<ng-container i18n>I cannot translate everything</ng-container>

<br />

<img [src]="logo" i18n-title title="OpenRecipe logo" alt="OpenRecipe logo" />
<br />
<button type="button" (click)="inc(1)">+</button>
<button type="button" (click)="inc(-1)">-</button>
<span i18n
  >Counter updated {minutes, plural, =0 {just now} =1 {one minute ago} other
  {{{minutes}} minutes ago}}</span
>
({{ minutes }}) <br /><br />
<button type="button" (click)="english()">English</button>
<button type="button" (click)="french()">French</button>
<span i18n
  >The page is in {language, select, english {english} french {french} }</span
>
<br /><br />
<span i18n
  >Updated: {minutes, plural, =0 {just now} =1 {one minute ago} other
  {{{minutes}} minutes ago {language, select, english {english} french
  {french}}}}
</span>
